* {
    box-sizing: border-box;
}

:root {
    --timing: ease;
    --black: #1f1f1f;
}

.v-slider-bloc:nth-child(1) {
    background-image: url('../images/page_accueil_1.png');
    background-position: bottom;
}

.v-slider-bloc:nth-child(3) {
    background-color: white;
}

.scrollBar {
    position: fixed;
    top: 25%;
    right: 2vw;
    height: 0%;
    width: 2px;
    background: #FF9F1C;
    transition: height 200ms var(--timing);
    text-align: right;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 1em;
    z-index: 5;
}

.scrollBar span::before {
    content: "";
    position: absolute;
    right: -7px;
    top: 0px;
    font-weight: 700;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 7.5px 0 7.5px;
    border-color: #ffa01c transparent transparent transparent;
}

.scrollBar span::after {
    content: "";
    position: absolute;
    right: -7px;
    bottom: 0px;
    font-weight: 700;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #ffa01c transparent;
}

.scrollBar span {
    bottom: 3px;
    left: 2px;
    font-size: 0.7em;
    font-weight: 500;
    display: inline-block;
    text-align: left;
    transform-origin: bottom left;
}

div.slogan {
    display: flex;
    flex-direction: column;
    width: 814px;
    padding-top: 15%;
    padding-left: 4%;
    color: white;
}

div.slogan p {
    font-family: 'Roboto';
    font-size: 36px;
    margin-top: 12px;
}

div.slogan h2 {
    font-size: 72px;
    font-weight: 400;
}

.ml9 {
    position: relative;
    font-size: 72px;
}

.ml9 .text-wrapper {
    position: relative;
    display: inline-block;
}

.ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    font-family: 'Rockwell';
}

.ml11 {
    font-weight: 700;
    font-size: 36px;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
}

div.slogan a {
    margin-top: 31px;
    position: relative;
    display: block;
    width: 286px;
    padding: 5px 0px 7px 14px;
    font-size: 36px;
    text-decoration: none;
    color: #ffa01c;
    box-shadow: inset 0 0 0 2px white;
    border-radius: 30px;
}

div.slogan a:after,
div.slogan a:before {
    content: "";
    display: block;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

div.slogan a:before {
    top: 50%;
    right: 25px;
    width: 12px;
    height: 12px;
    transform-origin: 50% 50%;
    transform: translate(0, -6px) rotate(45deg);
    box-shadow: inset -2px 2px 0 0 #ffa01c;
    border-radius: 0 1.8px 0 0;
}

div.slogan a:after {
    top: 50%;
    right: 25px;
    width: 15.6px;
    height: 2px;
    transform: translate(0, -1px);
    background-color: #ffa01c;
}

div.slogan a:hover:before {
    right: 12px;
}

div.slogan a:hover:after {
    right: 12px;
}

.slider {
    width: 100%;
    height: 100vh;
    position: relative;
}

.slider .items-group {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider .items-group .item {
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    transition: 0.5s;
    visibility: hidden;
    position: relative;
    padding: 50px 20px;
    position: absolute;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.slider .items-group .item:hover .bg,
.slider .items-group .item:hover .bg2 {
    opacity: 0.2;
}

.slider .items-group .item:hover .block {
    box-shadow: 0px 0px 50px #333;
}

.slider .items-group .item.active {
    opacity: 1;
    visibility: visible;
}

.slider .items-group .item .bg,
.slider .items-group .item .blur {
    background-position: bottom -67px left -248px !important;
    background-size: 1315px !important;
}

.slider .items-group .item .bg,
.slider .items-group .item .bg2,
.slider .items-group .item .blur,
.slider .items-group .item .blur2 {
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    position: absolute;
    background-size: 843px;
    background-attachment: fixed;
    background-position: bottom -8px right 100px;
}

.slider .items-group .item .blur,
.slider .items-group .item .blur2 {
    filter: blur(5px);
}

.slider .items-group .item .block {
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #ffffff;
    transition: box-shadow 0.5s;
    max-width: 300px;
    overflow: hidden;
    max-height: 450px;
    border-radius: 10px;
    transform: scale(1.03);
    box-sizing: border-box;
    background-size: 334px;
    background-position: center;
    background-attachment: fixed;
    box-shadow: none;
}

.slider .items-group .item .block .circleLight {
    top: 0px;
    left: 0px;
    opacity: 0;
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.5s;
    position: absolute;
    border-radius: 10px;
    background: radial-gradient(circle at 80px 40px, #fff, transparent);
}

.slider .items-group .item .block .text {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
    background-attachment: fixed;
}

.slider .items-group .item .block p {
    font-size: 23px;
}

.slider .items-group .item .block:hover {
    box-shadow: 0px 0px 70px #111;
}

.slider .items-group .item .block:hover .circleLight {
    opacity: 0.4;
}

.slider .navigations {
    bottom: 15%;
    width: 100%;
    position: absolute;
}

.slider .navigations .dots {
    height: 20px;
    padding: 10px 0px;
    text-align: center;
}

.slider .navigations .dots li {
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: 0.3s;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.slider .navigations .dots li+li {
    margin-left: 10px;
}

.slider .navigations .dots li:hover {
    filter: blur(2px);
}

.slider .navigations .dots li.active {
    width: 15px;
    height: 15px;
}

.slider .navigations .dots li.active:hover {
    filter: blur(0px);
}

#video {
    position: relative;
    background-color: rgba(41, 41, 41, 0.8);
    display: flex;
    align-items: center;
}

#timelaps {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.inner-container {
    width: 55%;
    padding: 150px;
    color: white;
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 900;
}

.about-us {
    font-size: 19px;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    max-height: 250px;
    overflow: hidden;
}

.competences {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 15px;
    color: #FF9F1C;
}


/* SOURCE : CODEPEN */

.fill-closing-horizontal-delayed {
    position: relative;
    z-index: 2;
    user-select: none;
    transition: color 1s ease;
}

.fill-closing-horizontal-delayed:before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0;
}

.fill-closing-horizontal-delayed:focus,
.fill-closing-horizontal-delayed:hover {
    outline: 0;
    color: #FF9F1C;
    transition: color 1s ease;
    cursor: pointer;
}

.fill-closing-horizontal-delayed:before {
    transition: all 1s ease 0s;
}

.fill-closing-horizontal-delayed:before {
    width: 3px;
    left: -10px;
}

.fill-closing-horizontal-delayed:focus:before,
.fill-closing-horizontal-delayed:hover:before {
    outline: 0;
    background-color: #FF9F1C;
    transition: all 1s ease 0s;
    width: 35%;
    height: 100%;
}

.fill-closing-horizontal-delayed:hover {
    color: white !important;
}