.input-container {
    margin: 50px !important;
}

.input-container label {
    margin-bottom: 25px;
}

.global_container a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    position: relative;
}

.global_container a::before {
    content: "";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.global_container a:hover::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 0;
}