* {
    box-sizing: border-box;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #1D1D1D;
    --color-title-footer: #FF9F1C;
    --paragraphe-color: white;
}

::placeholder {
    color: rgba(255, 255, 255, .8);
    font-size: 18px;
    padding-left: 15px;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

header {
    width: 100%;
    background: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    height: 99px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    padding: 0 50px;
}

header img {
    cursor: pointer;
}

.container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.v-slider-bloc {
    height: 100vh;
    scroll-snap-align: center;
}

div.footer_navigation div {
    width: 175px;
}

div.footer_navigation div ul li {
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--paragraphe-color);
    margin-top: 7px;
}

div.icone img:nth-child(1) {
    margin-right: 56.06px;
}

div.navigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    position: relative;
}

div.navigation ul li {
    font-weight: 400;
    font-size: 24px;
    color: var(--paragraphe-color);
    transition: transform 0.3s ease-in;
}

div.navigation ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in;
}

div.navigation ul li a:hover {
    color: orange;
}

div.navigation ul li:hover {
    transform: translate(0, -15%);
}

div.navigation ul::before {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 1px;
    background-color: var(--paragraphe-color);
}

div.newsletter form {
    position: relative;
    width: 325px;
}

div.newsletter form button {
    background: #ff9f1c;
    border-radius: 10px;
    width: 120px;
    height: 44px;
    font-weight: 400;
    font-size: 18px;
    color: var(--paragraphe-color);
    position: absolute;
    right: 25px;
    border: 0;
}

div.newsletter form input {
    width: 220px;
    height: 44px;
    background: #c4c4c4;
    border-radius: 10px 0 0 10px;
    border: 0;
}

div.newsletter form input:focus {
    border: 0;
    outline: 0;
}

div.newsletter p,
div.reseau_sociaux h3 {
    font-weight: 400;
    color: var(--paragraphe-color);
}

div.newsletter p {
    width: 325px;
    height: 84px;
    font-size: 18px;
}

div.reseau_sociaux h3 {
    font-size: 36px;
    line-height: 42px;
}

#logo {
    height: 60%;
}

div.navigation ul li:not(:last-child) {
    margin-right: 112px;
}

div.icone {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 290px;
}

.footer {
    height: 258px;
    width: 100%;
    background: #191919;
    flex-direction: row;
    align-items: center;
    padding: 0 95px;
    bottom: 0;
}

div.reseau_sociaux {
    width: 180px;
    height: 150px;
}

div.footer_navigation div h3,
div.reseau_sociaux h4 {
    line-height: 28px;
}

.footer,
div.footer_navigation,
div.logo_rs {
    display: flex;
    justify-content: space-between;
}

div.logo_rs {
    margin-top: 39px;
}

div.footer_navigation {
    width: 678px;
    height: 150px;
}

div.footer_navigation div h3,
div.newsletter h3,
div.reseau_sociaux h4 {
    font-weight: 400;
    font-size: 24px;
    color: var(--color-title-footer);
}