body {
    overflow-y: visible !important;
    background-color: #292929;
}

.entente_produit {
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entente_produit h2,
.entente_produit h4,
.categorie_container h3 {
    font-size: 58px;
    color: white;
}

.entente_produit h4 {
    font-size: 48px;
}

.categorie_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 135px;
}

.image_categorie_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image_categorie_container .image {
    width: 416px;
    height: 523px;
    box-sizing: border-box;
    background-size: 471px;
    background-position: center;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.image_categorie_container .image:not(:last-child) {
    margin-right: 84px;
}

.image_categorie_container .image h3 {
    font-size: 48px;
    color: white;
}

.image {
    text-decoration: none;
    transition: background-size 0.3s ease-out;
}

.image:hover {
    background-size: 550px;
}