#produit {
    background-color: #292929;
    display: flex;
}

.container_slide {
    width: 45%;
    flex-grow: 1;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mySlides {
    display: none;
    height: 527px;
}

.mySlides img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.mySlides .ps5 {
    transform: scale(1.1);
    margin-top: 15px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 43px;
    margin: 15px 0 0 35px;
    background-color: white;
    display: inline-block;
    transition: background-color 0.6s ease;
    transition: width 0.6s ease;
    position: relative;
    z-index: 10;
}

.active,
.dot:hover {
    background-color: orange;
}

.container-dot span.active {
    width: 69px;
    height: 20px;
}

.container-dot {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.container_information {
    width: 55%;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.container_information .title {
    font-size: 32px;
    color: white;
    margin-top: 65px;
    margin-bottom: 25px;
}

.container_information p.desc {
    width: 715px;
    font-size: 24px;
    color: white;
}

.buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 87px 0px;
    width: 100%;
}

.buy hr {
    width: 60%;
    background-color: rgba(196, 196, 196, 0.5);
    height: 3px;
}

.type {
    display: flex;
    flex-direction: row;
    padding: 40px 0px;
}

.type p {
    color: white;
    font-size: 24px;
    margin-right: 149px;
}

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    width: 220px;
    height: 40px;
}

.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(196, 196, 196, 0.5);
    padding: 8px 15px;
    transition: all 0.2s ease-in;
}

.select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
}

.select-styled:hover {
    background-color: rgba(196, 196, 196, 0.5);
}

.select-styled:active,
.select-styled.active {
    background-color: rgba(196, 196, 196, 0.5);
}

.select-styled:active:after,
.select-styled.active:after {
    top: 9px;
    border-color: transparent transparent #fff transparent;
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 900;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgba(196, 196, 196, 0.5);
}

.select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid rgba(196, 196, 196, 0.5);
    transition: all 0.15s ease-in;
}

.select-options li:hover,
.select-options li.is-selected {
    color: rgba(196, 196, 196, 0.5);
    background: #fff;
}

.select-options li[rel="hide"] {
    display: none;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin-top: 36px;
}

.bottom h2 {
    color: white;
    font-size: 24px;
}

.bottom input {
    width: 38px;
    height: 38px;
    margin-left: 25px;
    background: transparent;
    border: 0;
    box-shadow: inset 0 0 0 2px white;
}

.bottom input:focus {
    outline-style: none;
    color: white;
}

.quantite {
    display: flex;
    flex-direction: row;
}

button {
    width: 215px;
    height: 57px;
    border: 1px solid #FFFFFF;
    background: transparent;
    color: white;
    font-size: 24px;
    cursor: pointer;
}