#register,
.global_container {
    display: flex;
    justify-content: center;
    align-items: center
}

#register {
    height: 100vh;
    background-color: #292929
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.global_container {
    flex-direction: column;
    padding-top: 100px
}

.global_container h2 {
    font-size: 64px;
    color: #fff
}

.input-container {
    position: relative;
    margin: 0 60px 35px;
    width: 412px
}

.input-container input {
    outline: 0;
    z-index: 1;
    position: relative;
    background: 0 0;
    width: 100%;
    height: 60px;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 400
}

.input-container input:focus~label {
    color: #9d9d9d;
    transform: translate(-12%, -50%) scale(.6)
}

.input-container input:focus~.bar:after,
.input-container input:focus~.bar:before {
    width: 50%
}

.input-container input:valid~label {
    color: #9d9d9d;
    transform: translate(-12%, -50%) scale(.5)
}

.input-container label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ff9f1c;
    font-size: 20px;
    font-weight: 400;
    line-height: 60px;
    transition: .2s ease
}

.input-container .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #757575;
    width: 100%;
    height: 1px
}

.input-container .bar:after,
.input-container .bar:before {
    content: "";
    position: absolute;
    background: #ff9f1c;
    width: 0;
    height: 2px;
    transition: .2s ease
}

.input-container .bar:before {
    left: 50%
}

.input-container .bar:after {
    right: 50%
}

.check_box_container {
    display: block;
    position: relative!important;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    width: 348px;
    line-height: 25px!important;
    user-select: none
}

.check_box_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    box-shadow: inset 0 0 0 2px #fff
}

.check_box_container:hover input~.checkmark {
    background-color: #ccc
}

.check_box_container input:checked~.checkmark {
    background-color: #ff9f1c
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none
}

.check_box_container input:checked~.checkmark:after {
    display: block
}

.check_box_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg)
}

.global_container button {
    width: 412px;
    height: 66px;
    border-radius: 30px;
    color: #fff;
    font-size: 40px;
    background-color: #ff9f1c;
    border: 0
}